.sizeForm {
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sizeOfMatrix {
    margin-right: 50px;
}

.rowsInput {
    text-align: center;
    height: 25px;
    width: 160px;
}

.colsInput {
    text-align: center;
    height: 25px;
    width: 160px;
}

.X {
    margin: 30px;
}

.title {
    text-align: center;
    font-size: 50px;
}